// PrimaryNavigation.scss
.primaryNavigation {
	border-top: 1px solid rgb(169, 111, 58);
	background-color: black;
	display: flex;
	justify-content: center;
	ul {
		display: flex;
		justify-content: center;
	}
	&__link {
		margin: 1em;
		color: white;
		text-transform: uppercase;
		font-weight: 700;
		text-decoration: none;
		white-space: nowrap;
		&:hover {
			color: rgb(169, 111, 58);
		}
	}
}